/* Variables */
:root {
    --primary: #1640D6;
    --light: #EEE;
    --grey: #888;
    --dark: #313154;
    --danger: #ff5b57;
    --secondary: #00e9f6;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    --glow-secondary: 0px 0px 4px rgba(97, 46, 247, 0.75);
}
/* End of Variables */

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}
/* End of Resets */

body {
    background: var(--dark);
    color: var(--dark);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
	font-family: 'Saira Semi Condensed', sans-serif;
}

.reloj {
		
			top: 20px;
			left: 20px;
			z-index: 1;
			transform: translateZ(0);
			font-family: 'Saira Semi Condensed', sans-serif;
			font-weight: 800;
			color: rgba(255, 255, 255, 0.15); /* Blanco al 5% */
		}

		.dia_mes {
			padding-left: 16px;
			padding-right: 15px;
		}

		.dia {
			font-family: 'Saira Semi Condensed', sans-serif;
			font-weight: 800;
			text-transform: uppercase;
			font-size: 37px;
			white-space: nowrap;
			padding-bottom: -20px;
			width: 192px;
			text-justify: auto;
			letter-spacing: var(--dia-spacing);
		}

		.mes {
			font-family: 'Saira Semi Condensed', sans-serif;
			margin-top: -16px;
			font-size: 23px;
			font-weight: 700;
			text-transform: uppercase;
			white-space: nowrap;
			text-align: justify;
			letter-spacing: var(--mes-spacing);
			width: 192px;
		}

		.fecha {
			font-family: 'Saira Semi Condensed', sans-serif;
			margin-left: 194px;
			margin-top: -95px;
			font-size: 74px;
			font-weight: 800;
			display: flex;
			width: 67px;
		}

		.hora {
			
			position: absolute;
			font-weight: 800;
			margin-top: -85px;
			left: 335px;
			font-size: 35px;
			line-height: 29px;
			width: 44px;
		}









/* Display Section */
.display {
    width: 100%;
    max-width: 600px;
    box-shadow: var(--shadow);
    background:
        radial-gradient(circle at 20% 20%, rgba(15, 15, 46, 0.8), transparent 70%),
        radial-gradient(circle at 80% 30%, rgba(5, 246, 245, 0.2), transparent 70%),
        radial-gradient(circle at 50% 70%, rgba(245, 0, 0, 0.05), transparent 80%),
        rgba(19, 19, 19, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    height: 100vh;
    overflow-y: auto;
    position: relative; /* Asegura que los elementos posicionados absolutamente se alineen con este contenedor */
}

section {
    margin: 0.5rem 1.5rem 1rem;
}

.display-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 10;
}






/* Para los elementos de la lista de tareas en el resumen */
/* Asegúrate de que el contenedor de la lista use flexbox para alinear los elementos en línea */
#task-summary-list {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente línea si no caben en una sola */
    gap: 0.4em 0.5em; /* Espacio entre elementos (ajusta según sea necesario) */
    padding: 0; /* Elimina el relleno por defecto */
    margin: 20px 0 0 10px; /* Elimina el margen por defecto */
    list-style-type: none; /* Elimina los puntos de la lista */
	color: var(--secondary);
}

/* Configura los elementos de la lista para que se muestren en línea */
#task-summary-list li {
    display: inline-block; /* O usa flex: 0 0 auto; si prefieres flexbox */
    position: relative;
    /*margin-right: 0.7em;  Ajusta el margen derecho si es necesario */
    letter-spacing: 0em;
    line-height: 90%;
    text-transform: uppercase;
    cursor: pointer;
}

/* Para los elementos de tarea dentro del resumen */
#task-summary-list li .first-words {
    font-size: 30%;
    letter-spacing: 0.1em;
    margin-top: -1.2em; /* Ajusta el margen superior negativo para reducir el espacio vacío */
    margin-bottom: -1em; /* Ajusta el margen inferior si es necesario */
    display: block;
}

#task-summary-list li .last-word {
    font-size: 1em;
    display: block;
}









/* Style for app container, initially hidden */
		.app {
			position: fixed;
			bottom: 0;
			width: 100%;
			height: calc(100% - 50px); /* Adjust based on the height of display bar */
			background: white;
			transform: translateY(100%);
			transition: transform 0.3s ease-in-out;
		}






/* Style for the display bar */
		.display-bar {
			position: fixed;
			bottom: 0;
			width: 100%;
			background: #612EF7;
			color: white;
			text-align: center;
			padding: 1rem;
			cursor: pointer;
			z-index: 10; /* Ensure it's on top */
		}
		
		/* Show the app when the display bar is clicked */
		.app.show {
			transform: translateY(0);
		}

main.app {
    width: 100%;
    max-width: 600px;
    box-shadow: var(--shadow);
    background:
        radial-gradient(circle at 20% 20%, rgba(15, 15, 46, 0.8), transparent 70%),
        radial-gradient(circle at 80% 30%, rgba(5, 246, 245, 0.2), transparent 70%),
        radial-gradient(circle at 50% 70%, rgba(245, 0, 0, 0.05), transparent 80%),
        rgba(19, 19, 19, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    height: 100vh;
    overflow-y: auto;
}
section {
	margin: 0.5rem 1.5rem 1rem; /* Reduce el espacio superior y mantiene el espacio inferior */
}

.greeting {
    display: flex;
    align-items: flex-end; /* Alinea el contenido al borde inferior */
    justify-content: flex-start;
    height: 4rem; /* Altura del contenedor de saludo */
    margin: 0rem 1.5rem; /* Ajusta los márgenes como sea necesario */
    padding-top: 2rem; /* Añade espacio adicional en la parte superior */
    padding-bottom: 0.5rem; /* Reduce el espacio en la parte inferior */
}

.greeting .title {
    display: flex;
    align-items: baseline; /* Alinea verticalmente el texto y el input */
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0; /* Elimina márgenes */
    width: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
    color: #FFF; /* Color blanco para el texto */
}

.greeting .title input {
    margin-left: 0.5rem; /* Espacio entre "Hola," y el input */
    flex: 1; /* Permite que el input crezca para llenar el espacio restante */
    font-size: 0.875rem; /* Asegura que el tamaño de fuente sea coherente */
}

.create-todo {
    margin-top: 0rem; /* Ajustar el margen superior para separar la sección del saludo */
}

h2 {
    margin-bottom: 0.875rem;
    color: #FFF; /* Color blanco para H2 */
}

h4 {
    margin-top: 1.125rem;
    color: #FFF; /* Color blanco para H4 */
}

.create-todo input[type="text"] {
	display: block;
	width: 100%;
	font-size: 0.875rem;
	padding: 0.75rem 1rem;
	color: var(--light);
	background-color: rgba(255, 255, 255, 0.05); /* Blanco al 5% */
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	text-transform: capitalize;
}


.create-todo .options {
	display: grid;
	grid-gap: 0.725rem; /* Ajusta el espacio entre las tarjetas */
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	/* Definimos el tamaño inicial en un porcentaje para que las tarjetas se adapten */
	grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}


/* Responsivo para las tarjetas */
@media (min-width: 350px) and (max-width: 420px) {
	.create-todo .options {
		/* Ajuste suave al 3 por fila */
		grid-template-columns: repeat(auto-fit, minmax(28%, 1fr));
	}
}

@media (min-width: 421px) {
	.create-todo .options {
		/* Ajuste suave al 4 por fila */
		grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
	}
}

@media (max-width: 349px) {
	.create-todo .options {
		/* 2 columnas cuando el ancho es menor a 350px, con fluidez */
		grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); 
	}
}

.create-todo .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.05); /* Blanco al 5% */
	padding: 1rem;
	box-shadow: var(--shadow);
	border-radius: 0.5rem;
	cursor: pointer;
	color: #FFF; /* Color blanco para el texto en las tarjetas */
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid var(--secondary);
	box-shadow: var(--glow-secondary);
}



.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--secondary);
	box-shadow: var(--glow-secondary);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}


.bubble.agregar::after {
	background-color: var(--agregar);
	box-shadow: var(--agregar-glow);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.create-todo .options label div {
	color: #FFF; /* Color blanco para el texto en las opciones */
	font-size: 1.125rem;
	margin-top: 0.75rem;
}

.create-todo input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	box-shadow: var(--personal-glow);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}

.create-todo input[type="submit"]:hover {
	opacity: 0.75;
}

.todo-list .list {
	margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    
    padding: 0.5rem; /* Ajusta el padding para que la altura final del ítem sea 32px */
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 0.725rem; /* Reduce el espacio entre tareas */
}

.todo-item .todo-content {
    flex: 1 1 auto;
    overflow-wrap: break-word;
    min-width: 0;
}

.todo-item .actions {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    margin-left: auto;
    white-space: nowrap;
    align-items: center; /* Asegura que los botones estén centrados verticalmente */
}

.todo-item .actions button {
    padding: 0.5rem; /* Remueve el padding para ajustar la altura exacta */
    height: 28px; /* Establece la altura de los botones */
    border-radius: 0.25rem;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: var(--grey);
}

/* Contenedor de cada categoría */
.category-item {
    margin-bottom: 0.50rem; /* Espacio entre categorías */
   
    border-radius: 0.5rem; /* Bordes redondeados */
    box-shadow: var(--shadow); /* Sombra suave */
    overflow: hidden; /* Recorta el contenido que sobrepase el contenedor */
}

/* Encabezado de cada categoría */
.category-header {
    display: flex;
    align-items: left;
    
    padding: 0.75rem 0.75rem; /* Espacio interno */
    cursor: pointer; /* Indica que es clickeable */
    background-color: rgba(255, 255, 255, 0.05); /* Fondo blanco al 5% */
    transition: background-color 0.3s ease; /* Transición suave al cambiar el fondo */
}

.category-header:hover {
    background-color: rgba(255, 255, 255, 0.05); /* Fondo un poco más claro al pasar el mouse */
}

/* Botón para desplegar la categoría */
.category-header .material-symbols-outlined {
    background: none;
    border: none;
    font-size: 1.25rem;
    color: var(--secondary); /* Blanco para el icono */
    cursor: pointer;
    transition: transform 0.3s ease; /* Transición para el icono */
}

.category-header .material-symbols-outlined.rotated {
    transform: rotate(-90deg); /* Rotar el icono al desplegar */
}

/* Título de la categoría */
.category-header span {
    font-size: 1.125rem; /* Tamaño de la fuente */
    color: #FFF; /* Blanco */
    font-weight: 700; /* Negrita */
}

/* Lista de tareas bajo cada categoría */
.task-list {
    padding: 0rem 1rem; /* Espaciado interno */
background-color: rgba(255, 255, 255, 0.01); /* Blanco al 5% */
   
}

/* Contenedor de cada tarea */
.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.25rem; /* Bordes redondeados */
    padding: 1rem; /* Espaciado interno */
    
    transition: background-color 0.3s ease; /* Transición de color */
}

.todo-item:hover {
   
}

/* Contenido de la tarea */
.todo-content {
    color: #FFF; /* Blanco */
    font-size: 1rem; /* Tamaño de fuente */
    flex: 1; /* Ocupa todo el espacio disponible */
}

/* Acciones para editar y eliminar tareas */
.actions button {
    background: none;
    border: none;
    color: #FFF; /* Blanco */
    font-size: 1rem; /* Tamaño de fuente */
    cursor: pointer;
    margin-left: 0.5rem;
    transition: opacity 0.3s ease; /* Suaviza la opacidad al pasar el mouse */
}

.actions button:hover {
    opacity: 0.8;
}
.todo-content {
    margin-bottom: 10px;
}

.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-header p {
    margin: 0;
    flex-grow: 1;
}

.actions {
    display: flex;
    gap: 8px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 5px; /* Espacio entre el nombre de la tarea y los detalles */
}

.detail-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    
    justify-content: space-between;
}

.arrow {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.arrow.left {
    margin-right: 8px;
}

.arrow.right {
    margin-left: 8px;
}

.arrow:focus {
    outline: none;
}
.modified-at {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    /*font-size: 0.875rem;*/
    color: #666; /* Puedes ajustar el color según tu diseño */
}

.modified-at small:first-child {
    margin-right: auto;
}

.modified-at small:last-child {
    margin-left: auto;
    text-align: right;
}
/* Estilos para las listas de tareas en el display */

}

#task-summary-list li:hover {
    color: #007BFF; /* Color del texto al pasar el cursor */
    cursor: pointer; /* Cambia el cursor al pasar sobre el texto */
}